/* styles3.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: left;
    border: none;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin as needed */
}

button:hover {
    background-color: #45a049;
}

/* Media query for responsiveness */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}
